@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    background-color: #f8f8f8;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

ul {
     padding-left: 0px;
}

nav{
        align-items: left;
}

.wrapper {
    padding: 0 4%;
}


/* 見出し */
.page-title {
    font-size: 4.5rem;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

/* ボタン */
.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  background: #003366;
  color: #fff;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn:hover{
    background: #0090aa;
}


/* HEADER
------------------------------- */
.header{
    border-bottom: 2px solid #ddd;
/*    position: fixed; */
    top:0;
    width: 100%;
    background-color: #f8f8f8;
}

.header_inner{
    max-width: 1230px;
 /*   padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}


.header-nav {
  display: flex;
  overflow:hidden;
  justify-content: space-around;
  list-style: none;
  width:100%;
  text-align: center;   /*ポイント!*/
}



.header-nav__item {
  flex-grow: 1;
  text-align: center;
  padding-right: 4px;
}

.header-nav__item:last-child .header-nav__link::after {
  content: none;
}

.header-nav__link {
  position: relative;
  display: block;
  padding: 0px 0px;
  border-bottom: 4px solid transparent;
  color: #432;
  text-decoration: none;
  transition: .25s;
}

.header-nav__link:focus,
.header-nav__link:hover {
  border-bottom-color: #e25c00;
  color: red;
}

.header-nav__link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  /*
  height: 20px;
  */
  background-color: #ddd;
  transform: translateY(-50%);
}

.header-nav__current {
  position: relative;
  display: block;
  padding: 0px 10px;
  border-bottom: 4px solid transparent;
  color: #432;
  text-decoration: none;
  transition: .25s;
  border-bottom-color: #e25c00;
}
.header-nav__current:focus,
.header-nav__current:hover {
  border-bottom-color: #e25c00;
  color: red;
}

.header-nav__current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  /*
  height: 20px;
  */
  background-color: #ddd;
  transform: translateY(-50%);
}




/* HOME
------------------------------- */
#home {
    background-color: #f8f8f8;
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.home-content {
    text-align: center;
    margin-top: 15%;
}
.home-content p {
    font-size: 1.4rem;
    margin: 60px 0 42px;
}

.home-desc {
    text-align: center;
    margin-top: 10%;
}

.home-desc p {
    font-size: 1.4rem;
    margin: 60px 0 42px;
}


/* アコーディオン
------------------------------- */
summary {
  cursor: pointer;
}
details {
  margin: 0px;
  padding: 10px;
}
details[open] {
    border: solid 1.5px #000000;
/*    background: #e0e0e0;  */
}




/* Tops
------------------------------- */
#tops {
    height: 70px;
    margin-bottom: 40px;
    text-align: center;    
}
#tops .page-title {
    text-align: center;
}


.genecontainer{
    justify-content: center;
    align-items: left;
    min-height: 50vh;
    padding-top: 50px;
}

.genecontainer li {
margin-bottom: 1.8rem;
}

.profcontainer{
    justify-content: flex-start;
}

.profimgcontainer{
    margin-left: 40px;
    padding-left: 30px: 

}

.profimgcontainer img{
    width: 200px;
    height: 200px;
}


.profescrcon{
       margin-left: 40px;
}

.descrcon{
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px: 
    font-size: 1.4rem;
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
}



.float_l {
    margin-top: 30px;
    float: left;
}



/* フッター
------------------------------- */
footer {
    background: black;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 1.2rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: left;
    }

    /* HEADER */
    .header-nav {
        font-size: 0.1rem;
    }
    .header-nav__item {
        font-size: 0.1rem;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }



